@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	justify-content: center;
}

form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form > input,
form > div {
	margin-bottom: 20px;
}

.errorsList {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: red;
}

.errorsList > li {
	margin: 10px 0px;
}

.rangeInput {
	font-size: 12px;
	display: flex;
	align-items: center;
}

.rangeInput > input {
	margin: 10px;
}

.overlay {
	display: none;
	background: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: all 0.5s;
}

.modal {
	display: none;
	z-index: 200;
	position: absolute;
	top: 50%;
	margin-top: -135px;
	left: 50%;
	margin-left: -240px;
	transition: all 0.5s;
}

.modal > i {
	font-size: 30px;
	color: darkslategray;
	margin: -30px -25px 0px 0px;
	float: right;
	cursor: pointer;
	transition: all 0.5s;
}
