@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	justify-content: center;
	background-color: #f0f0f0;
}

form {
	width: 30vw;
	background-color: #f5f5f5;
	margin: 20px 0px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputDiv {
	position: relative;
	width: inherit;
}

.inputDiv > input {
	width: 100%;
	margin: 2px 0px 24px;
	border: 2px solid #303030;
	border-radius: 5px;
	padding: 8px 28px 8px 16px;
	font-size: 16px;
	outline-style: none;
	transition: all 0.3s;
	box-sizing: border-box;
}

.inputDiv > input:hover {
	background-color: #e2e2e2;
}

.inputDiv > input:focus {
	border-color: blue;
}

.inputDiv > i {
	display: none;
	position: absolute;
	top: 33px;
	right: 10px;
}

.success > input {
	border-color: green;
}

.success > .fa-check-circle {
	display: block;
	color: green;
}

.error > input {
	border-color: red;
}

.error > .fa-times-circle {
	display: block;
	color: red;
}

.rangeInput {
	font-size: 12px;
	display: flex;
	align-items: center;
}

.rangeInput > input {
	margin: 8px 10px;
}

.tos {
	margin-top: 24px;
}

.errorsList {
	margin: 16px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: red;
}

.errorsList > li {
	margin: 2px 0px;
}

.button {
	margin: 4px 0px 8px;
	padding: 8px 20px;
	background-color: #cdcdcd;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
	font-size: 16px;
}

.button:hover {
	border: 1px solid gray;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.overlay {
	display: none;
	background: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: all 0.5s;
}

.modal {
	display: block;
	z-index: 200;
	position: absolute;
	top: 50%;
	margin-top: -135px;
	left: 50%;
	margin-left: -240px;
	transition: all 0.5s;
}

.modal > i {
	font-size: 30px;
	color: darkslategray;
	margin: -30px -25px 0px 0px;
	float: right;
	cursor: pointer;
	transition: all 0.3s;
}

.modal > i:hover {
	color: #f9f9f9;
}

.showModal {
	animation: showModal 0.4s ease-in;
}

@keyframes showModal {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
